ul {text-decoration:none;
    
}

li a {text-decoration:none;
        color:darkred;
        font-weight:bold;
    
}

li {float:left;
    display:inline-block;
    text-align:center;
    padding:14px 16px;
    font-size:18px;
    background-color:black;
    
}

.logo img {width:200px; 
            float:left;
    
}

li:hover{background-color:#5000b5;
        border:3px solid darkred; 
        cursor:pointer;
    
}

h1 {background-color:black;
    color:darkred;
    text-align:center;
    font-size:40px;
    font-family:Arial;
    font-weight:bold;
    
}

h2 {font-size:30px;
    font-weight:bold;
    
}

p {font-size:20px;
    
}


body {background-color:red;
    
}

.inici {background-color:darkred;
    
}

.foto {width:150px; 
    
}

.angles {font-weight:bold;
    
}

.link:hover {color:black;
                background-color:rebeccapurple;
    
}